In [1]:
#packages
import json
import tqdm
import os
import numpy as np
import sys
import glob
import pandas as pd
import datetime as dt
import re
import math
from collections import defaultdict
import operator
import random
from collections import Counter

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path_FocalBird = r'G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\FOCAL BIRDS\Focalbirds_09-10-2021.csv'
df = pd.read_csv(path_FocalBird, sep=';', parse_dates=['StartDate','EndDate','InitialStartDate'], dayfirst=True, 
                 encoding='latin')
print(df.shape)
df.head(3)

(169, 18)

,HenID,SireID,RPenID,PenID,Rtreatment,LPLegring,legringID,FocalLegringName,commentSelection,weight-08-10-2021,BackpackID,TagID,commentPopulation,exception,InitialStartDate,StartDate,EndDate,ShouldBeExcluded
0,1,15,Rpen12,10,Queue,red,1,red1,was slected as 46 by random on computer but n...,1122.0,NaN,5,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN
1,2,63,Rpen13,10,NoQueue,red,17,red17,NaN,1343.8,NaN,16,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN
2,3,78,Rpen13,10,NoQueue,red,15,red15,NaN,1252.7,NaN,19,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN

## Chose randomly pens where birds might go to

In [3]:
#exact list of penID that can be assigned in addition to the 7 birds coming from each other pens, 
#based on the number of birds that will be used from each pen (i.e. we want to keep same #observation from each pen)
#based on total number (i.e. pen 12 has 20 focal birs and one more in pen 4)
li_possiblepenid = 3*['pen3']
li_possiblepenid.extend(4*['pen4'])
li_possiblepenid.extend(3*['pen5'])
li_possiblepenid.extend(4*['pen8'])
li_possiblepenid.extend(3*['pen9'])
li_possiblepenid.extend(4*['pen10'])
li_possiblepenid.extend(4*['pen11'])
li_possiblepenid.extend(3*['pen12'])
#li_possiblepenid

#now for each pen choose create a ranom list of penids that can be attriuted to its birds
dico_pen_nbr = {'pen3':10, 'pen4':11, 'pen5':10, 'pen8':11, 'pen9':10, 'pen10':11, 'pen11':11, 'pen12':10} 
li_allpen = ['pen3','pen4','pen5','pen8','pen9','pen10','pen11','pen12']

dico_pen_lipenavailble = {}
for penid in li_allpen:
    #step 1: an animal can be assigned to any other pen besides his own pen
    li = [i for i in li_allpen if i!=penid]
    #step 2: then add randomly other penids until you have the good amount of hens
    random.seed(penid) #new random seed for each pen!!
    nbr_animals = dico_pen_nbr[penid]
    li_2exclude = [penid]
    while len(li)<nbr_animals:
        #chose randomly among all other pens
        n = random.choice([i for i in li_possiblepenid if i not in li_2exclude]) #excude also the one already picked twice!
        li_2exclude.append(n)
        li.append(n)
        li_possiblepenid.remove(n) #remove one time n value as
        #small verification
        #print(len(li), len(li_possiblepenid))
    dico_pen_lipenavailble[penid] = li

dico_pen_lipenavailble

{'pen3': ['pen4',
  'pen5',
  'pen8',
  'pen9',
  'pen10',
  'pen11',
  'pen12',
  'pen4',
  'pen9',
  'pen11'],
 'pen4': ['pen3',
  'pen5',
  'pen8',
  'pen9',
  'pen10',
  'pen11',
  'pen12',
  'pen11',
  'pen10',
  'pen12',
  'pen8'],
 'pen5': ['pen3',
  'pen4',
  'pen8',
  'pen9',
  'pen10',
  'pen11',
  'pen12',
  'pen3',
  'pen10',
  'pen9'],
 'pen8': ['pen3',
  'pen4',
  'pen5',
  'pen9',
  'pen10',
  'pen11',
  'pen12',
  'pen4',
  'pen10',
  'pen3',
  'pen12'],
 'pen9': ['pen3',
  'pen4',
  'pen5',
  'pen8',
  'pen10',
  'pen11',
  'pen12',
  'pen11',
  'pen8',
  'pen4'],
 'pen10': ['pen3',
  'pen4',
  'pen5',
  'pen8',
  'pen9',
  'pen11',
  'pen12',
  'pen11',
  'pen12',
  'pen8',
  'pen5'],
 'pen11': ['pen3',
  'pen4',
  'pen5',
  'pen8',
  'pen9',
  'pen10',
  'pen12',
  'pen10',
  'pen3',
  'pen5',
  'pen9'],
 'pen12': ['pen3',
  'pen4',
  'pen5',
  'pen8',
  'pen9',
  'pen10',
  'pen11',
  'pen8',
  'pen5',
  'pen4']}

## Attribute birds a pen

In [4]:
df['HenID'] = df['HenID'].map(lambda x: 'hen_'+str(x))
df['PenID'] = df['PenID'].map(lambda x: 'pen'+str(x))
df.head(3)

,HenID,SireID,RPenID,PenID,Rtreatment,LPLegring,legringID,FocalLegringName,commentSelection,weight-08-10-2021,BackpackID,TagID,commentPopulation,exception,InitialStartDate,StartDate,EndDate,ShouldBeExcluded
0,hen_1,15,Rpen12,pen10,Queue,red,1,red1,was slected as 46 by random on computer but n...,1122.0,NaN,5,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN
1,hen_2,63,Rpen13,pen10,NoQueue,red,17,red17,NaN,1343.8,NaN,16,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN
2,hen_3,78,Rpen13,pen10,NoQueue,red,15,red15,NaN,1252.7,NaN,19,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN

In [5]:
dico_pen_hen_r1 = {}
for penid, df_ in df.groupby(['PenID']):
    random.seed(int(penid.split('en')[-1])+100) 
    li_heninpen = list(set(df_['HenID'].tolist())) #at that stage of the experiemnt it is unique but its more general to use set
    random.shuffle(li_heninpen) #shuffle list randomly
    li_penavailable = dico_pen_lipenavailble[penid]
    dico_pen_hen_r1[penid] = dict(zip(li_heninpen[0:len(li_penavailable)], li_penavailable))
dico_pen_hen_r1

{'pen10': {'hen_7': 'pen3',
  'hen_2': 'pen4',
  'hen_12': 'pen5',
  'hen_19': 'pen8',
  'hen_5': 'pen9',
  'hen_1': 'pen11',
  'hen_8': 'pen12',
  'hen_6': 'pen11',
  'hen_14': 'pen12',
  'hen_10': 'pen8',
  'hen_20': 'pen5'},
 'pen11': {'hen_41': 'pen3',
  'hen_39': 'pen4',
  'hen_26': 'pen5',
  'hen_23': 'pen8',
  'hen_34': 'pen9',
  'hen_30': 'pen10',
  'hen_22': 'pen12',
  'hen_35': 'pen10',
  'hen_24': 'pen3',
  'hen_36': 'pen5',
  'hen_38': 'pen9'},
 'pen12': {'hen_53': 'pen3',
  'hen_50': 'pen4',
  'hen_43': 'pen5',
  'hen_58': 'pen8',
  'hen_44': 'pen9',
  'hen_56': 'pen10',
  'hen_51': 'pen11',
  'hen_61': 'pen8',
  'hen_62': 'pen5',
  'hen_45': 'pen4'},
 'pen3': {'hen_77': 'pen4',
  'hen_78': 'pen5',
  'hen_81': 'pen8',
  'hen_67': 'pen9',
  'hen_74': 'pen10',
  'hen_73': 'pen11',
  'hen_75': 'pen12',
  'hen_66': 'pen4',
  'hen_72': 'pen9',
  'hen_71': 'pen11'},
 'pen4': {'hen_86': 'pen3',
  'hen_84': 'pen5',
  'hen_101': 'pen8',
  'hen_95': 'pen9',
  'hen_102': 'pen10',
  'hen_103': 'pen11',
  'hen_90': 'pen12',
  'hen_97': 'pen11',
  'hen_104': 'pen10',
  'hen_89': 'pen12',
  'hen_92': 'pen8'},
 'pen5': {'hen_116': 'pen3',
  'hen_126': 'pen4',
  'hen_108': 'pen8',
  'hen_114': 'pen9',
  'hen_112': 'pen10',
  'hen_111': 'pen11',
  'hen_113': 'pen12',
  'hen_122': 'pen3',
  'hen_127': 'pen10',
  'hen_125': 'pen9'},
 'pen8': {'hen_146': 'pen3',
  'hen_139': 'pen4',
  'hen_136': 'pen5',
  'hen_131': 'pen9',
  'hen_138': 'pen10',
  'hen_144': 'pen11',
  'hen_148': 'pen12',
  'hen_132': 'pen4',
  'hen_143': 'pen10',
  'hen_137': 'pen3',
  'hen_133': 'pen12'},
 'pen9': {'hen_167': 'pen3',
  'hen_149': 'pen4',
  'hen_157': 'pen5',
  'hen_152': 'pen8',
  'hen_165': 'pen10',
  'hen_151': 'pen11',
  'hen_160': 'pen12',
  'hen_168': 'pen11',
  'hen_162': 'pen8',
  'hen_154': 'pen4'}}

In [6]:
df['R1'] = df.apply(lambda x: dico_pen_hen_r1[x['PenID']].get(x['HenID'],x['PenID']), axis=1)
df.head(3)

,HenID,SireID,RPenID,PenID,Rtreatment,LPLegring,legringID,FocalLegringName,commentSelection,weight-08-10-2021,BackpackID,TagID,commentPopulation,exception,InitialStartDate,StartDate,EndDate,ShouldBeExcluded,R1
0,hen_1,15,Rpen12,pen10,Queue,red,1,red1,was slected as 46 by random on computer but n...,1122.0,NaN,5,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN,pen11
1,hen_2,63,Rpen13,pen10,NoQueue,red,17,red17,NaN,1343.8,NaN,16,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN,pen4
2,hen_3,78,Rpen13,pen10,NoQueue,red,15,red15,NaN,1252.7,NaN,19,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN,pen10

## verify numbers

In [7]:
#initial number of birds per pen
df.groupby(['PenID'])['HenID'].count().reset_index()

   PenID  HenID
0  pen10     21
1  pen11     21
2  pen12     20
3   pen3     21
4   pen4     23
5   pen5     21
6   pen8     21
7   pen9     21

In [8]:
#nbr of birds that should moved form each pens:
dico_pen_nbr

{'pen3': 10,
 'pen4': 11,
 'pen5': 10,
 'pen8': 11,
 'pen9': 10,
 'pen10': 11,
 'pen11': 11,
 'pen12': 10}

In [9]:
#check that each pens gets a correct amount of birds in their own pens
df_verification = df.groupby(['PenID'])['R1'].agg(lambda x: Counter(x)).reset_index()
display(df_verification.head(2))
pd.concat([df_verification.drop(['R1'], axis=1), df_verification['R1'].apply(pd.Series)], axis=1)

   PenID                                                 R1
0  pen10  {'pen11': 2, 'pen4': 1, 'pen10': 10, 'pen9': 1...
1  pen11  {'pen12': 1, 'pen8': 1, 'pen3': 2, 'pen11': 10...

   PenID  pen11  pen4  pen10  pen9  pen3  pen12  pen8  pen5
0  pen10      2     1     10     1     1      2     2     2
1  pen11     10     1      2     2     2      1     1     2
2  pen12      1     2      1     1     1     10     2     2
3   pen3      2     2      1     2    11      1     1     1
4   pen4      2    12      2     1     1      2     2     1
5   pen5      1     1      2     2     2      1     1    11
6   pen8      1     2      2     1     2      2    10     1
7   pen9      2     2      1    11     1      1     2     1

# Relocation 2

We want all birds that moved the first time to move again but in a pen that they never went too

In [10]:
df.head(3)

,HenID,SireID,RPenID,PenID,Rtreatment,LPLegring,legringID,FocalLegringName,commentSelection,weight-08-10-2021,BackpackID,TagID,commentPopulation,exception,InitialStartDate,StartDate,EndDate,ShouldBeExcluded,R1
0,hen_1,15,Rpen12,pen10,Queue,red,1,red1,was slected as 46 by random on computer but n...,1122.0,NaN,5,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN,pen11
1,hen_2,63,Rpen13,pen10,NoQueue,red,17,red17,NaN,1343.8,NaN,16,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN,pen4
2,hen_3,78,Rpen13,pen10,NoQueue,red,15,red15,NaN,1252.7,NaN,19,NaN,NaN,2021-09-28,2021-10-07,2022-08-01,NaN,pen10