In [5]:
#basic package
import tqdm
import os
import numpy as np
import glob
import random
import pandas as pd
import sys
import time
import datetime as dt
import itertools
import re
import math
from collections import Counter
import operator
from scipy.stats import entropy
import networkit as nk #more efficient
import pickle
import statistics
from sklearn.utils import shuffle
from scipy.stats import pearsonr, spearmanr

#plot
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits import mplot3d

In [6]:
PACKAGE_PARENT = '../'
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd(), os.path.expanduser('__file__'))))
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))
from UTILS import preprocessing_Origins,is_day,time_series_henColumn_tsRow, is_WG_open, is_day
import config_exp2 as config

In [7]:
print('change the configuration file if not done yet!')
path_extracted_data = config.path_extracted_data
path_initial_data = config.path_initial_data
id_run = config.id_run
dico_matching = config.dico_matching
li_tracking_date = config.li_tracking_date
print(id_run)
path_extracted_data_visual = os.path.join(path_extracted_data,'LongformatModels')
#create a director if not existing
if not os.path.exists(path_extracted_data_visual):
    os.makedirs(path_extracted_data_visual)

change the configuration file if not done yet!
EXP2_

# Downlaod data

In [14]:
path_extracted_data

'G:\\VPHI\\Welfare\\2- Research Projects\\Camille Montalcini\\Origins.GS\\DataOutput\\TrackingSystem\\EXP2_'

In [27]:
#new data
df = pd.read_csv(os.path.join(path_extracted_data, 'combidecjan.csv'), sep=',',parse_dates=['date'], dayfirst=True) 
df[['Serial_Sensor_1_Ammonia litter wintergarden','Serial_Sensor_3_Ammonia litter corridor']]
df.rename(columns={'Serial_Sensor_1_Ammonia litter wintergarden':'AmmoniaWGlitter',
                  'Serial_Sensor_3_Ammonia litter corridor':'Ammonialitter','litter':'totminHens'}, inplace=True)
df = df[['Hour','date','AmmoniaWGlitter','Ammonialitter','totminHens']].copy()
print(df.shape)
df.head(3)

(768, 5)

   Hour       date  AmmoniaWGlitter  Ammonialitter  totminHens
0     0 2022-12-19               24           31.0         NaN
1     1 2022-12-19               23           21.0         0.0
2     2 2022-12-19               25           25.0       977.0

In [33]:
df['Timestamp'] = df.apply(lambda x: dt.datetime(x['date'].year,x['date'].month,x['date'].day,x['Hour'],0,0), axis=1)
df['time'] = df['Timestamp'].map(lambda x: x-df['Timestamp'].min())

In [34]:
df

,Hour,date,AmmoniaWGlitter,Ammonialitter,totminHens,time,Timestamp
0,0,2022-12-19,24,31.0,NaN,0 days 00:00:00,2022-12-19 00:00:00
1,1,2022-12-19,23,21.0,0.0,0 days 01:00:00,2022-12-19 01:00:00
2,2,2022-12-19,25,25.0,977.0,0 days 02:00:00,2022-12-19 02:00:00
3,3,2022-12-19,28,31.0,532646.0,0 days 03:00:00,2022-12-19 03:00:00
4,4,2022-12-19,23,15.0,946670.0,0 days 04:00:00,2022-12-19 04:00:00
...,...,...,...,...,...,...,...
763,19,2023-01-19,23,29.0,0.0,31 days 19:00:00,2023-01-19 19:00:00
764,20,2023-01-19,21,19.0,0.0,31 days 20:00:00,2023-01-19 20:00:00
765,21,2023-01-19,26,25.0,0.0,31 days 21:00:00,2023-01-19 21:00:00
766,22,2023-01-19,20,25.0,0.0,31 days 22:00:00,2023-01-19 22:00:00
767,23,2023-01-19,30,26.0,0.0,31 days 23:00:00,2023-01-19 23:00:00