In [1]:
#basic package
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import time
import datetime as dt
import itertools
import re
import math
from collections import Counter
import operator

#scaling
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#modelling
from catboost import CatBoostClassifier, Pool

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PACKAGE_PARENT = '../'
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd(), os.path.expanduser('__file__'))))
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))
from UTILS import preprocessing_Origins, is_day, is_WG_open, openDevice, cleaning_processing, FB_process, FB_daily
import config_exp2 as config

C:\Users\camil\anaconda3\lib\site-packages\scipy\sparse\sparsetools.py:21: DeprecationWarning: `scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.
  _deprecated()

2

# Define parameters

In [3]:
print('change the configuration file if not done yet!')
path_extracted_data = config.path_extracted_data
path_initial_data = config.path_initial_data
id_run = config.id_run
dico_matching = config.dico_matching
nbr_maxdur2beremoved = config.nbr_maxdur2beremoved
dico_garden_opening_hour = config.dico_garden_opening_hour
date_first_opening_WG = config.date_first_opening_WG
print(id_run)
path_extracted_data_visual = os.path.join(path_extracted_data,'visual')
pal_ = config.pal_
close_dates = config.close_dates

#create a director if not existing
if not os.path.exists(path_extracted_data_visual):
    os.makedirs(path_extracted_data_visual)

change the configuration file if not done yet!
EXP2_

## Preprocess - add HenID,PenID

In [4]:
START_TIME = time.perf_counter()
p = glob.glob(os.path.join(path_initial_data, 'Barn 4 Pen*\TagUpdates\log*'))
#print('There is %d log files:\n  %s'%(len(p),'  \n  '.join(p)))
df = preprocessing_Origins(p, config, save=True, dodevice=True)
print(df.shape)
display(df.head(2))
display(df.tail(2))
END_TIME = time.perf_counter()
print ("Total running time: %.2f mn" %((END_TIME-START_TIME)/60))
#--> saves a datafarme named: _PreprocessRecords_forcleaning

<>:2: DeprecationWarning: invalid escape sequence \T
<>:2: DeprecationWarning: invalid escape sequence \T
C:\Users\camil\AppData\Local\Temp/ipykernel_5728/2909984856.py:2: DeprecationWarning: invalid escape sequence \T
  p = glob.glob(os.path.join(path_initial_data, 'Barn 4 Pen*\TagUpdates\log*'))

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000009.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000010.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000011.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000012.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000013.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000014.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000015.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000016.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 10 - 12\TagUpdates\log_00000017.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000008.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000009.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000010.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000011.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000012.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000013.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000014.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000015.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 3 - 5\TagUpdates\log_00000016.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 8 - 9\TagUpdates\log_00000005.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 8 - 9\TagUpdates\log_00000006.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 8 - 9\TagUpdates\log_00000007.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 8 - 9\TagUpdates\log_00000008.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 8 - 9\TagUpdates\log_00000009.csv

G:\VPHI\Welfare\2- Research Projects\Camille Montalcini\Origins.GS\GantnerSystem\DATA\Barn 4 Pen 8 - 9\TagUpdates\log_00000010.csv

From the focalBirdinfo, you have 165 ative tags
-------------------- DEVICE DATA --------------------
process device data...

100%|██████████████████████████████████████████████████████████████████████████████████| 38/38 [26:46<00:00, 42.27s/it]

(3856927, 21)
(49804, 4)
(49804, 7)
(7255345, 15)

,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4
0,2021-10-08 00:00:17,hen_82,2_Zone,pen3,log_00000008,237087,tag_218,5,3 - 5,00:00:17,2021-10-08,0,0,0,0
1,2021-10-08 00:00:19,hen_82,3_Zone,pen3,log_00000008,237088,tag_218,10,3 - 5,00:00:19,2021-10-08,1,5,0,0

,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4
7255343,2022-07-05 14:08:59,hen_83,3_Zone,pen3,log_00000016,187591,tag_219,10,3 - 5,14:08:59,2022-07-05,2,9,0,0
7255344,2022-07-05 14:09:29,hen_83,2_Zone,pen3,log_00000016,187592,tag_219,13,3 - 5,14:09:29,2022-07-05,2,10,6,0

Total running time: 142.06 mn

# removing <60 sec

In [29]:
#for being more reproductible, we open the file that was saved from cleaning
df = pd.read_csv(os.path.join(path_extracted_data, id_run+'_PreprocessRecords_forcleaning.csv'), sep=';', 
                 parse_dates=['Timestamp', 'date'], dayfirst=True) #index_col=0) 
#Note: small check that hens are indeed changin pens in the system. we know from last experiemtn that a tag cant be peaked by another
#tracking system than its one. we have also no way to verify that an animal is picked by a specific pen from a specific 
#tracking system, but lets at least verify if the tracking system is the correct one after we have the daily variable 
#as thats when we can add it, and check on the used days only
display(df[df['HenID']=='hen_1']['system'].value_counts())
df = df.drop_duplicates(subset=['Timestamp','HenID'], keep='last')
print(min(df['date'].tolist()), max(df['date'].tolist()))
print(df.shape)
df.head(3)

(7255345, 16)
2021-10-08 00:00:00 2022-07-05 00:00:00
(7238122, 16)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4
0,0,2021-10-08 00:00:17,hen_82,2_Zone,pen3,log_00000008,237087,tag_218,5,3 - 5,00:00:17,2021-10-08,0,0,0,0
1,1,2021-10-08 00:00:19,hen_82,3_Zone,pen3,log_00000008,237088,tag_218,10,3 - 5,00:00:19,2021-10-08,1,5,0,0
2,2,2021-10-08 00:00:50,hen_92,2_Zone,pen4,log_00000008,237089,tag_59,6,3 - 5,00:00:50,2021-10-08,0,0,0,0

In [30]:
#add duration previous/next zones
li_df = []
#more efficient to do it per hen, as it wont need to search in the whole dataframe, and we can simply shift the timestamp column
for i, df_hen in tqdm.tqdm(df.groupby(['HenID'])):
    #as the next record date (sort by date, then simply shift by one row and add nan at then end)
    df_hen = df_hen.sort_values(['Timestamp'], ascending=True)
    
    #compute duration 
    df_hen['next_record_date'] = df_hen['Timestamp'].tolist()[1:]+[pd.NaT]
    df_hen['duration'] = df_hen.apply(lambda x: (x['next_record_date']-x['Timestamp']).total_seconds(), axis=1)

    #add next & previous record zone
    df_hen['next_zone'] = df_hen['Zone'].tolist()[1:]+[np.nan]
    df_hen['previous_zone'] = [np.nan]+df_hen['Zone'].tolist()[0:-1]

    li_df.append(df_hen)
#put again in one dataframe
df = pd.concat(li_df)
df.sort_values(['Timestamp'], ascending=True, inplace=True)
df = df.drop(['log_file_name'], axis=1)
#df.drop_duplicates(subset=['Timestamp','TagID'], keep='last', inplace=True)
df['is_dur_smaller_60sec'] = df['duration'].map(lambda x: x<60)
display(df['is_dur_smaller_60sec'].value_counts(normalize=True))
print(df.shape)
df.head(3)

ERROR! Session/line number was not unique in database. History logging moved to new session 3390

100%|████████████████████████████████████████████████████████████████████████████████| 169/169 [05:27<00:00,  1.94s/it]

True     0.505655
False    0.494345
Name: is_dur_smaller_60sec, dtype: float64

(7238122, 20)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4,next_record_date,duration,next_zone,previous_zone,is_dur_smaller_60sec
0,0,2021-10-08 00:00:17,hen_82,2_Zone,pen3,237087,tag_218,5,3 - 5,00:00:17,2021-10-08,0,0,0,0,2021-10-08 00:00:19,2.0,3_Zone,NaN,True
1,1,2021-10-08 00:00:19,hen_82,3_Zone,pen3,237088,tag_218,10,3 - 5,00:00:19,2021-10-08,1,5,0,0,2021-10-08 00:22:07,1308.0,2_Zone,2_Zone,False
2,2,2021-10-08 00:00:50,hen_92,2_Zone,pen4,237089,tag_59,6,3 - 5,00:00:50,2021-10-08,0,0,0,0,2021-10-08 00:00:56,6.0,3_Zone,NaN,True

In [39]:
#small verification
df_hen[['Timestamp','HenID','Zone','previous_zone']].head(10)

               Timestamp   HenID    Zone previous_zone
1239 2021-10-08 10:52:06  hen_99  2_Zone           NaN
3537 2021-10-08 17:08:45  hen_99  3_Zone        2_Zone
3564 2021-10-08 17:12:04  hen_99  2_Zone        3_Zone
3579 2021-10-08 17:13:48  hen_99  3_Zone        2_Zone
3585 2021-10-08 17:14:15  hen_99  2_Zone        3_Zone
3626 2021-10-08 17:20:50  hen_99  3_Zone        2_Zone
3638 2021-10-08 17:21:42  hen_99  3_Zone        3_Zone
3648 2021-10-08 17:22:23  hen_99  3_Zone        3_Zone
3657 2021-10-08 17:22:57  hen_99  3_Zone        3_Zone
3667 2021-10-08 17:23:36  hen_99  3_Zone        3_Zone

In [32]:
df.groupby(['Zone','is_dur_smaller_60sec'])['Timestamp'].count().reset_index()

     Zone  is_dur_smaller_60sec  Timestamp
0  1_Zone                 False     132325
1  1_Zone                  True      12518
2  2_Zone                 False     886605
3  2_Zone                  True     154774
4  3_Zone                 False    2029532
5  3_Zone                  True    3047045
6  4_Zone                 False     274799
7  4_Zone                  True     339643
8  5_Zone                 False     254868
9  5_Zone                  True     106013

In [33]:
display(df.groupby(['PenID','Zone','is_dur_smaller_60sec'])['Timestamp'].count().reset_index().head(40))
df.groupby(['PenID','Zone','is_dur_smaller_60sec'])['Timestamp'].count().reset_index().tail(40)

    PenID    Zone  is_dur_smaller_60sec  Timestamp
0   pen10  1_Zone                 False      15920
1   pen10  1_Zone                  True       1211
2   pen10  2_Zone                 False     122949
3   pen10  2_Zone                  True      20746
4   pen10  3_Zone                 False     247921
5   pen10  3_Zone                  True     388009
6   pen10  4_Zone                 False      27713
7   pen10  4_Zone                  True      32320
8   pen10  5_Zone                 False      30928
9   pen10  5_Zone                  True      15754
10  pen11  1_Zone                 False      14586
11  pen11  1_Zone                  True       1356
12  pen11  2_Zone                 False      85191
13  pen11  2_Zone                  True      11940
14  pen11  3_Zone                 False     201303
15  pen11  3_Zone                  True     297376
16  pen11  4_Zone                 False      32976
17  pen11  4_Zone                  True      35784
18  pen11  5_Zone                 False      34567
19  pen11  5_Zone                  True      14291
20  pen12  1_Zone                 False      14355
21  pen12  1_Zone                  True       1493
22  pen12  2_Zone                 False     107401
23  pen12  2_Zone                  True      23545
24  pen12  3_Zone                 False     230615
25  pen12  3_Zone                  True     309068
26  pen12  4_Zone                 False      28287
27  pen12  4_Zone                  True      34266
28  pen12  5_Zone                 False      30791
29  pen12  5_Zone                  True      16198
30   pen3  1_Zone                 False      21941
31   pen3  1_Zone                  True       1718
32   pen3  2_Zone                 False     103326
33   pen3  2_Zone                  True      17388
34   pen3  3_Zone                 False     263434
35   pen3  3_Zone                  True     371438
36   pen3  4_Zone                 False      32248
37   pen3  4_Zone                  True      37007
38   pen3  5_Zone                 False      29152
39   pen3  5_Zone                  True       7062

   PenID    Zone  is_dur_smaller_60sec  Timestamp
40  pen4  1_Zone                 False      20142
41  pen4  1_Zone                  True       1832
42  pen4  2_Zone                 False     117995
43  pen4  2_Zone                  True      17587
44  pen4  3_Zone                 False     241984
45  pen4  3_Zone                  True     365400
46  pen4  4_Zone                 False      35411
47  pen4  4_Zone                  True      42715
48  pen4  5_Zone                 False      35181
49  pen4  5_Zone                  True       9688
50  pen5  1_Zone                 False      11712
51  pen5  1_Zone                  True       1507
52  pen5  2_Zone                 False     116721
53  pen5  2_Zone                  True      22373
54  pen5  3_Zone                 False     336343
55  pen5  3_Zone                  True     523680
56  pen5  4_Zone                 False      44852
57  pen5  4_Zone                  True      58896
58  pen5  5_Zone                 False      31523
59  pen5  5_Zone                  True      17253
60  pen8  1_Zone                 False      19374
61  pen8  1_Zone                  True       2244
62  pen8  2_Zone                 False     125713
63  pen8  2_Zone                  True      21926
64  pen8  3_Zone                 False     250881
65  pen8  3_Zone                  True     402982
66  pen8  4_Zone                 False      35202
67  pen8  4_Zone                  True      50594
68  pen8  5_Zone                 False      29140
69  pen8  5_Zone                  True      13758
70  pen9  1_Zone                 False      14295
71  pen9  1_Zone                  True       1157
72  pen9  2_Zone                 False     107309
73  pen9  2_Zone                  True      19269
74  pen9  3_Zone                 False     257051
75  pen9  3_Zone                  True     389092
76  pen9  4_Zone                 False      38110
77  pen9  4_Zone                  True      48061
78  pen9  5_Zone                 False      33586
79  pen9  5_Zone                  True      12009

In [34]:
df.groupby(['PenID','is_dur_smaller_60sec'])['Timestamp'].count().reset_index()

    PenID  is_dur_smaller_60sec  Timestamp
0   pen10                 False     445431
1   pen10                  True     458040
2   pen11                 False     368623
3   pen11                  True     360747
4   pen12                 False     411449
5   pen12                  True     384570
6    pen3                 False     450101
7    pen3                  True     434613
8    pen4                 False     450713
9    pen4                  True     437222
10   pen5                 False     541151
11   pen5                  True     623709
12   pen8                 False     460310
13   pen8                  True     491504
14   pen9                 False     450351
15   pen9                  True     469588

In [35]:
#remove duration less than 1mn
df = df[~df['is_dur_smaller_60sec']]

# remove consecutive equal zone (i.e. not same timestamps but same zone)

In [46]:
#recompute next zone nw that it maybe changed
#add duration previous/next zones
li_df = []
#more efficient to do it per hen, as it wont need to search in the whole dataframe, and we can simply shift the timestamp column
for i, df_hen in tqdm.tqdm(df.groupby(['HenID'])):
    #as the next record date (sort by date, then simply shift by one row and add nan at then end)
    df_hen = df_hen.sort_values(['Timestamp'], ascending=True)
    
    #compute duration 
    df_hen['next_record_date'] = df_hen['Timestamp'].tolist()[1:]+[pd.NaT]
    df_hen['duration'] = df_hen.apply(lambda x: (x['next_record_date']-x['Timestamp']).total_seconds(), axis=1)

    #add next & previous record zone
    df_hen['next_zone'] = df_hen['Zone'].tolist()[1:]+[np.nan]
    df_hen['previous_zone'] = [np.nan]+df_hen['Zone'].tolist()[0:-1]

    li_df.append(df_hen)
#put again in one dataframe
df = pd.concat(li_df)
df.sort_values(['Timestamp'], ascending=True, inplace=True)
#df.drop_duplicates(subset=['Timestamp','TagID'], keep='last', inplace=True)
df['is_dur_smaller_60sec'] = df['duration'].map(lambda x: x<60)
display(df['is_dur_smaller_60sec'].value_counts(normalize=True))
print(df.shape)
df.head(3)

False    1.0
Name: is_dur_smaller_60sec, dtype: float64

(3578129, 21)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,...,zone2,signalstzone2,zone3,zone4,next_record_date,duration,next_zone,previous_zone,is_dur_smaller_60sec,correction_is_consecutive_equal_initial_zone
1,1,2021-10-08 00:00:19,hen_82,3_Zone,pen3,237088,tag_218,10,3 - 5,00:00:19,...,1,5,0,0,2021-10-08 00:22:12,1313.0,3_Zone,NaN,False,False
3,3,2021-10-08 00:00:56,hen_92,3_Zone,pen4,237090,tag_59,9,3 - 5,00:00:56,...,1,6,0,0,2021-10-08 04:03:04,14528.0,3_Zone,NaN,False,False
5,5,2021-10-08 00:04:52,hen_104,3_Zone,pen4,237092,tag_217,10,3 - 5,00:04:52,...,1,5,7,0,2021-10-08 00:17:50,778.0,3_Zone,NaN,False,False

In [47]:
#if the previous zone is the same, then its cez that should be removed
df['correction_is_consecutive_equal_initial_zone'] = False
df.loc[df['previous_zone']==df['Zone'], 'correction_is_consecutive_equal_initial_zone'] = True
display(df['correction_is_consecutive_equal_initial_zone'].value_counts(normalize=True))

False    0.597961
True     0.402039
Name: correction_is_consecutive_equal_initial_zone, dtype: float64

In [51]:
#small verification
df[df['HenID']=='hen_82'].sort_values(['Timestamp'])[['Timestamp','HenID','Zone','previous_zone','correction_is_consecutive_equal_initial_zone']].head(10)

,Timestamp,HenID,Zone,previous_zone,correction_is_consecutive_equal_initial_zone
1,2021-10-08 00:00:19,hen_82,3_Zone,NaN,False
27,2021-10-08 00:22:12,hen_82,3_Zone,3_Zone,True
232,2021-10-08 01:19:25,hen_82,3_Zone,3_Zone,True
242,2021-10-08 01:35:08,hen_82,3_Zone,3_Zone,True
252,2021-10-08 01:38:04,hen_82,3_Zone,3_Zone,True
258,2021-10-08 01:40:43,hen_82,3_Zone,3_Zone,True
262,2021-10-08 01:42:21,hen_82,3_Zone,3_Zone,True
278,2021-10-08 01:46:45,hen_82,3_Zone,3_Zone,True
310,2021-10-08 02:06:21,hen_82,3_Zone,3_Zone,True
332,2021-10-08 02:29:37,hen_82,3_Zone,3_Zone,True

In [50]:
df[df['HenID']=='hen_99'].sort_values(['Timestamp'])[['Timestamp','HenID','Zone','previous_zone','correction_is_consecutive_equal_initial_zone']].head(10)

,Timestamp,HenID,Zone,previous_zone,correction_is_consecutive_equal_initial_zone
1239,2021-10-08 10:52:06,hen_99,2_Zone,NaN,False
3537,2021-10-08 17:08:45,hen_99,3_Zone,2_Zone,False
3564,2021-10-08 17:12:04,hen_99,2_Zone,3_Zone,False
3585,2021-10-08 17:14:15,hen_99,2_Zone,2_Zone,True
3667,2021-10-08 17:23:36,hen_99,3_Zone,2_Zone,False
3713,2021-10-08 17:27:02,hen_99,3_Zone,3_Zone,True
5769,2021-10-09 08:24:40,hen_99,3_Zone,3_Zone,True
5841,2021-10-09 08:28:09,hen_99,3_Zone,3_Zone,True
5876,2021-10-09 08:30:15,hen_99,3_Zone,3_Zone,True
8519,2021-10-09 15:06:49,hen_99,2_Zone,3_Zone,False

In [52]:
#remove consecutive equal zones = TRUE
df = df[~(df['correction_is_consecutive_equal_initial_zone'])]
print(df.shape)
df.head(3)

(2139580, 21)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,...,zone2,signalstzone2,zone3,zone4,next_record_date,duration,next_zone,previous_zone,is_dur_smaller_60sec,correction_is_consecutive_equal_initial_zone
1,1,2021-10-08 00:00:19,hen_82,3_Zone,pen3,237088,tag_218,10,3 - 5,00:00:19,...,1,5,0,0,2021-10-08 00:22:12,1313.0,3_Zone,NaN,False,False
3,3,2021-10-08 00:00:56,hen_92,3_Zone,pen4,237090,tag_59,9,3 - 5,00:00:56,...,1,6,0,0,2021-10-08 04:03:04,14528.0,3_Zone,NaN,False,False
5,5,2021-10-08 00:04:52,hen_104,3_Zone,pen4,237092,tag_217,10,3 - 5,00:04:52,...,1,5,7,0,2021-10-08 00:17:50,778.0,3_Zone,NaN,False,False

In [54]:
df[df['HenID']=='hen_99'].sort_values(['Timestamp'])[['Timestamp','HenID','Zone','correction_is_consecutive_equal_initial_zone']].head(10)

,Timestamp,HenID,Zone,correction_is_consecutive_equal_initial_zone
1239,2021-10-08 10:52:06,hen_99,2_Zone,False
3537,2021-10-08 17:08:45,hen_99,3_Zone,False
3564,2021-10-08 17:12:04,hen_99,2_Zone,False
3667,2021-10-08 17:23:36,hen_99,3_Zone,False
8519,2021-10-09 15:06:49,hen_99,2_Zone,False
9307,2021-10-09 16:58:56,hen_99,3_Zone,False
9409,2021-10-09 17:05:17,hen_99,5_Zone,False
10942,2021-10-10 09:12:56,hen_99,2_Zone,False
12431,2021-10-10 12:05:49,hen_99,3_Zone,False
12529,2021-10-10 12:21:15,hen_99,2_Zone,False

## Remove records in WG when WG was close

In [59]:
#remove last day (we did HA) (we remove now as WG info is not available on taht day)
df = df[df['date']!=dt.datetime(2022,7,5)]

In [60]:
df['is_WG_open'] = df['Timestamp'].map(lambda x: is_WG_open(x, config, epsi_open=0, epsi_close=20))
#we keep the epsi_open=0 as the system appeared to always open between 20sec of 2mn AFTER the indicated time (from video 
#observation)
#we set epsi_close=20 as for video observation we saw that itwould be between + and -15 mn than the indicated time. So we added
#some flexibility by puting 20mn.
print(df['is_WG_open'].value_counts(normalize=True))
display(df[(df['Zone']=='1_Zone')&(df['is_WG_open'])][['Timestamp','is_WG_open']].head(5))
display(df[(df['Zone']=='1_Zone')&(~df['is_WG_open'])][['Timestamp','is_WG_open']].head(5))

True     0.533047
False    0.466953
Name: is_WG_open, dtype: float64

C:\Users\camil\AppData\Local\Temp/ipykernel_5728/3201940463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_WG_open'] = df['Timestamp'].map(lambda x: is_WG_open(x, config, epsi_open=0, epsi_close=20))

                 Timestamp  is_WG_open
198596 2021-11-01 10:01:33        True
198641 2021-11-01 10:03:54        True
198669 2021-11-01 10:05:13        True
198775 2021-11-01 10:10:02        True
198799 2021-11-01 10:11:30        True

                Timestamp  is_WG_open
76283 2021-10-19 18:00:05       False
76287 2021-10-19 18:37:12       False
78594 2021-10-20 10:44:57       False
80258 2021-10-20 13:12:37       False
81733 2021-10-20 15:22:40       False

In [62]:
#small verification
df[(~df['is_WG_open'])&(df['Zone']=='1_Zone')].head(5)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,...,signalstzone2,zone3,zone4,next_record_date,duration,next_zone,previous_zone,is_dur_smaller_60sec,correction_is_consecutive_equal_initial_zone,is_WG_open
76283,76283,2021-10-19 18:00:05,hen_17,1_Zone,pen10,6164,tag_178,3,10 - 12,18:00:05,...,0,0,0,2021-10-20 00:27:26,23241.0,2_Zone,2_Zone,False,False,False
76287,76287,2021-10-19 18:37:12,hen_162,1_Zone,pen9,176464,tag_162,4,8 - 9,18:37:12,...,0,0,0,2021-10-19 18:44:25,433.0,2_Zone,2_Zone,False,False,False
78594,78594,2021-10-20 10:44:57,hen_107,1_Zone,pen5,267641,tag_18,2,3 - 5,10:44:57,...,0,0,0,2021-10-20 10:51:18,381.0,2_Zone,2_Zone,False,False,False
80258,80258,2021-10-20 13:12:37,hen_118,1_Zone,pen5,268245,tag_139,2,3 - 5,13:12:37,...,0,0,0,2021-10-20 13:13:47,70.0,2_Zone,2_Zone,False,False,False
81733,81733,2021-10-20 15:22:40,hen_125,1_Zone,pen5,268804,tag_202,3,3 - 5,15:22:40,...,0,0,0,2021-10-20 15:25:46,186.0,2_Zone,2_Zone,False,False,False

In [63]:
#remove WG when close
print(df.shape)
df = df[~((~df['is_WG_open'])&(df['Zone']=='1_Zone'))]
print(df.shape)

(2135864, 22)
(2129029, 22)

# remove transitions smaller than 15mn over night

In [64]:
#compute new duration
li_df = []
for i, df_hen in tqdm.tqdm(df.groupby(['HenID'])):
    df_hen = df_hen.sort_values(['Timestamp'], ascending=True)
    df_hen['next_record_date'] = df_hen['Timestamp'].tolist()[1:]+[np.nan]
    df_hen['duration'] = df_hen.apply(lambda x: (x['next_record_date']-x['Timestamp']).total_seconds(), axis=1)
    li_df.append(df_hen)
df = pd.concat(li_df)
df['is_day'] = df['Timestamp'].map(lambda x: is_day(x, config.dico_night_hour))
print(df.shape)
display(df.head(3))

100%|████████████████████████████████████████████████████████████████████████████████| 169/169 [01:38<00:00,  1.72it/s]

(2129029, 23)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,...,zone3,zone4,next_record_date,duration,next_zone,previous_zone,is_dur_smaller_60sec,correction_is_consecutive_equal_initial_zone,is_WG_open,is_day
132,132,2021-10-08 00:24:41,hen_1,3_Zone,pen10,348506,tag_5,14,10 - 12,00:24:41,...,6,0,2021-10-08 10:59:30,38089.0,2_Zone,NaN,False,False,False,False
1274,1274,2021-10-08 10:59:30,hen_1,2_Zone,pen10,348747,tag_5,5,10 - 12,10:59:30,...,0,0,2021-10-09 10:33:27,84837.0,2_Zone,3_Zone,False,False,False,True
6916,6916,2021-10-09 10:33:27,hen_1,3_Zone,pen10,350158,tag_5,15,10 - 12,10:33:27,...,4,6,2021-10-09 10:59:56,1589.0,3_Zone,2_Zone,False,False,False,True

In [73]:
#small verification check all what we remove
df[((df['duration']<(15*60)) & (df['is_day']==False))][['HenID','Timestamp','is_day','duration','next_record_date']].tail(3)

          HenID           Timestamp  is_day  duration    next_record_date
7075088  hen_99 2022-06-28 17:00:25   False     119.0 2022-06-28 17:02:24
7075180  hen_99 2022-06-28 17:02:24   False     408.0 2022-06-28 17:09:12
7187536  hen_99 2022-07-02 20:17:06   False     108.0 2022-07-02 20:18:54

In [74]:
#remove
df = df[~((df['duration']<(15*60)) & (df['is_day']==False))]
print(df.shape)
df.head(3)

(2099229, 23)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,...,zone3,zone4,next_record_date,duration,next_zone,previous_zone,is_dur_smaller_60sec,correction_is_consecutive_equal_initial_zone,is_WG_open,is_day
132,132,2021-10-08 00:24:41,hen_1,3_Zone,pen10,348506,tag_5,14,10 - 12,00:24:41,...,6,0,2021-10-08 10:59:30,38089.0,2_Zone,NaN,False,False,False,False
1274,1274,2021-10-08 10:59:30,hen_1,2_Zone,pen10,348747,tag_5,5,10 - 12,10:59:30,...,0,0,2021-10-09 10:33:27,84837.0,2_Zone,3_Zone,False,False,False,True
6916,6916,2021-10-09 10:33:27,hen_1,3_Zone,pen10,350158,tag_5,15,10 - 12,10:33:27,...,4,6,2021-10-09 10:59:56,1589.0,3_Zone,2_Zone,False,False,False,True

# Save

In [75]:
print(df.shape)
df.to_csv(os.path.join(path_extracted_data, id_run+'_CLEANEDDATA.csv'), sep=';', index=False)

(2099229, 23)