In [1]:
#basic package
import numpy as np
import pandas as pd
import datetime as dt
import os
import math
#plot
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\camil\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\camil\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\camil\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
path = r'G:\VPHI\Welfare\2- Research Projects\OFHE2.OriginsE2\Epigenetic\sent_Fabio_18-11-2022'

## download data

In [3]:
#epi info
df_epi = pd.read_csv(os.path.join(path, 'epi_recordswithHenID.csv'), sep=',', parse_dates=['Date'], dayfirst=True)
df_epi.rename(columns={'LegringID':'FocalLegringName'}, inplace=True)
dico_Rpen_tr = {1:'OFH',2:'TRAN',3:'OFH',4:'TRAN'}
df_epi['Treatment'] = df_epi['Rpen'].map(lambda x: dico_Rpen_tr[x])
#except first timestamp, no treatement yet! we used three pens for hatching
df_epi.loc[df_epi['TimestampID']==0,'Treatment'] = 'OFH-eggs'
#add housing info
df_epi['Housing'] = df_epi['TimestampID'].map(lambda x: 'RearingBarn1' if x<=6 else 'LayingBarn4')
#add henID when in rearing
df_epi['HenID'] = df_epi['HenID'].map(lambda x: 'hen_'+str(int(x)) if not math.isnan(x) else x)
df_epi.loc[df_epi['Housing']=='RearingBarn1','HenID'] = 'NotExisting'
print(df_epi.shape)
display(df_epi.head(3))

(174, 29)

,#birds,TimestampID,Rpen,Treatment,HenID,Lpen,Date,BirdTubeID,FocalLegringName,weight,...,AM,BL,B1,B2,AM for spain,LU,SK,BM,comment,Housing
0,1,0,1,OFH-eggs,NotExisting,NaN,2020-06-02,65,NaN,NaN,...,1,0,0,0,0,NaN,NaN,NaN,NaN,RearingBarn1
1,2,0,1,OFH-eggs,NotExisting,NaN,2020-06-02,66,NaN,NaN,...,1,0,0,0,0,NaN,NaN,NaN,NaN,RearingBarn1
2,3,0,2,OFH-eggs,NotExisting,NaN,2020-06-02,67,NaN,NaN,...,1,0,0,0,0,NaN,NaN,NaN,NaN,RearingBarn1

In [4]:
#dowloand focal info (tags changes, legring change, weight etc)
df_Focal = pd.read_csv(os.path.join(path, 'ALLDATA_df_FOCALBIRDS.csv'), encoding='latin', sep=';', 
                       parse_dates=['InitialStartDate'], dayfirst=True)
print(df_Focal.shape)
display(df_Focal.head(3))

(232, 14)

,HenID,PenID,CLASS,R-Pen,InitialStartDate,early_death,29-09 weight,10-12 juin weight,weight 23-11-2020,weight 04-01-2021,weight 01-02-21,weight 12-04-21,weight 26-07-21,Treatment
0,hen_1,9,EPI,1.0,2020-06-10,0.0,1134.0,57.0,1696.5,1787.8,1800.9,NaN,NaN,OFH
1,hen_10,11,LEXP,1.0,2020-06-10,0.0,1070.0,70.4,1488.3,1628.4,1602.1,1587.2,1713.4,OFH
2,hen_100,5,EPI,3.0,2020-06-10,0.0,1182.0,80.5,1642.5,NaN,NaN,NaN,NaN,OFH

# Merge info for birds in the laying phase

In [5]:
df = pd.merge(df_epi, df_Focal, on=['HenID','Treatment'], how='left')
print(df_epi.shape, df_Focal.shape, df.shape)
#blind Fabio
dico_ = {'OFH':'elephant','TRAN':'crocodile','OFH-eggs':'Eggs'}
df['BlindedTreatment'] = df['Treatment'].map(lambda x: dico_[x])
#save
df.to_csv(os.path.join(path, 'EpiAllInfo.csv'),sep=';',index=False)
df.to_csv(os.path.join(path, 'EpiAllInfo_comma.csv'),sep=',',index=False)
display(df.tail(3))

(174, 29) (232, 14) (174, 41)

,#birds,TimestampID,Rpen,Treatment,HenID,Lpen,Date,BirdTubeID,FocalLegringName,weight,...,InitialStartDate,early_death,29-09 weight,10-12 juin weight,weight 23-11-2020,weight 04-01-2021,weight 01-02-21,weight 12-04-21,weight 26-07-21,BlindedTreatment
171,172,11,4,TRAN,hen_155,12.0,2021-07-26,46,53black,NaN,...,2020-06-10,0.0,1234.0,69.2,1893.0,NaN,1918.4,2159.6,2229.8,crocodile
172,173,11,1,OFH,hen_18,9.0,2021-07-26,47,37grey,NaN,...,2020-06-10,0.0,1192.0,54.6,1774.0,1924.0,2012.8,2108.7,2264.5,elephant
173,174,11,3,OFH,hen_93,9.0,2021-07-26,48,19green,NaN,...,2020-06-10,0.0,1130.0,69.8,1550.2,1612.0,1735.8,1807.5,1931.2,elephant

# Check info

In [8]:
#check how many birds/eggs per timestamp
df.groupby(['TimestampID','Treatment'])['#birds'].count().reset_index()

    TimestampID Treatment  #birds
0             0  OFH-eggs       6
1             1       OFH       4
2             1      TRAN       4
3             2       OFH       8
4             2      TRAN       8
5             3       OFH       8
6             3      TRAN       8
7             4       OFH       8
8             4      TRAN       8
9             5       OFH       8
10            5      TRAN       8
11            6       OFH       8
12            6      TRAN       8
13            7       OFH       8
14            7      TRAN       8
15            8       OFH       8
16            8      TRAN       8
17            9       OFH       8
18            9      TRAN       8
19           10       OFH       8
20           10      TRAN       8
21           11       OFH       8
22           11      TRAN       8

In [9]:
#per PenID
df.groupby(['TimestampID','PenID'])['#birds'].count().reset_index()

    TimestampID  PenID  #birds
0             7    3.0       2
1             7    4.0       2
2             7    5.0       2
3             7    8.0       2
4             7    9.0       2
5             7   10.0       2
6             7   11.0       2
7             7   12.0       2
8             8    3.0       2
9             8    4.0       2
10            8    5.0       2
11            8    8.0       2
12            8    9.0       2
13            8   10.0       2
14            8   11.0       2
15            8   12.0       2
16            9    3.0       2
17            9    4.0       2
18            9    5.0       2
19            9    8.0       2
20            9    9.0       2
21            9   10.0       2
22            9   11.0       2
23            9   12.0       2
24           10    3.0       2
25           10    4.0       2
26           10    5.0       2
27           10    8.0       2
28           10    9.0       2
29           10   10.0       2
30           10   11.0       2
31           10   12.0       2
32           11    3.0       2
33           11    4.0       2
34           11    5.0       2
35           11    8.0       2
36           11    9.0       2
37           11   10.0       2
38           11   11.0       2
39           11   12.0       2